html {
  font-size: 62.5%;
   height: 100%;
}
body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  background-color: black;
  height: 50px;
  font-size: 1.5rem;
}
ul.top_menu {
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}

.side_menu li:hover {

opacity: 0.6;
}

.banner a:hover {
  opacity: 0.6;
}

.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
.image_area{
  width: 100%;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;

}
.side_menu{
  width: 300px;
  float: left;
}
.side_menu li{
  background-color: black;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content{
  width: auto;
  margin: :0px;
  float: left;
  font-size: 1.5rem;
}

/* 追記 */
.banner_content {
  /* 上部のマージンを設定 */
  margin-top: 10px;
  /* <table>のように振る舞う */
  display: table;
}
.banner_content p {
  /* <td>のように振る舞う */
  display: table-cell;
}
.banner_content p img {
  /* 画像サイズの修正 */
  width: 100%;
}


.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}

.footer{
  height: 100px;
  width: 100%;
  position: absolute;
bottom: 0;
background-color: #4D4D4D;
display: table;
}



/* 追記 */
.container {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
position: relative;
}


.footer p {
  font-size: 1rem;
  color: #fff;
  /* 追記 */
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.image_area{
  width: 100%;
}

.side_menu .point{
  background-color: black;
}
.side_menu .point a{
  color: #4D4D4D;
}


.company th {
  width: 150px;
  text-align: left;
}

.company tr {
  height: 7rem;
}

.company .aki {
  padding-left: 10px;

}

.company .kakko {
  width: 480px;
}

.nottable {
  text-align: center;
}

input[type="submit"] {
  background: black;
  color: white;
  font-size: 2rem;
}

input[type="submit"]:hover {
opacity: 0.5;
}
