.sample {
  height:100px;
  background-color: skyblue;
  font-weight:bold;
  position: relative;
}
.dummy {
  height: 100px;
  background-color: turquoise;
  margin: 5px;
}
.sample1 {
  background-color: black;
  color: red;
  position: static;

}
.sample2 {
  background-color: black;
  color: red;
  position: relative;
  top: 150px;
  left: 10px;
  z-index: 1;
}
.sample3 {
  background-color: black;
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
}
.sample4 {
  background-color: black;
  color: red;
  position: fixed;
  top: 10px;
  left: 60px;
}
